#commitlog pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

#commitlog .items {
  line-height: 1.4em;
}

#commitlog .description {
  margin-top: -0.5em;
  margin-bottom: 1.5em;
}