#commitlog pre {
  margin-top: 0.6em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

#commitlog .items {
  line-height: 1.4em;
}

#commitlog > ul {
  margin-bottom: 0;
}

#commitlog > ul > li {
  margin-bottom: 0.5em;
}

#commitlog h3 {
  margin-top: 1.0em;
}
